.list {
    margin-bottom: 3rem;
    counter-reset: list;

    li {
        margin-bottom: 1rem;
        padding-left: 2rem;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ul {
    li {
        &:before {
            width: 1rem;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background: #000000;
            content: '';
        }
    }
}

.ol {
    li {
        &:before {
            position: absolute;
            left: 0;
            top: 1px;
            color: #000000;
            counter-increment: list;
            content: counter(list) '.';
        }
    }
}
