@import '../../../styles/functions/rem';

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: var(--navbar-height);
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
}

.logo {
    height: var(--logo-height);
    width: var(--logo-width);
    align-self: center;
}

.languageSelector {
    position: relative;
    font-size: 1.1rem;
    text-transform: uppercase;

    .opener {
        margin-left: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        border-bottom: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
    }

    .list {
        position: absolute;
        background-color: black;
        display: flex;
        flex-flow: column;
        justify-items: center;
        margin: 0;
        padding: 1rem;
        border: solid 2px #ffffff;
        z-index: 1;

        li {
            list-style-type: none;
        }
    }
}
