@import "../../../styles/mixins/responsive";
@import "../../../styles/functions/rem";

.heading {
    margin-bottom: 1em;
}

.xl {
    font-size: rem(60);
    @include from-tablet {
        font-size: rem(60);
    }
}
.lg {
    font-size: rem(24);
    @include from-tablet {
        font-size: rem(40);
    }
}
.md {
    font-size: rem(20);
    @include from-tablet {
        font-size: rem(32);
    }
}
.sm {
    font-size: rem(18);
    @include from-tablet {
        font-size: rem(24);
    }
}
.xs {
    font-size: rem(16);
    @include from-tablet {
        font-size: rem(18);
    }
}