.table {
  width: 100%;
  margin-bottom: 3rem;
}

.table th, .table td {
  padding: 1rem 1.5rem;
}

.table th {
  color: var(--secondary);
  line-height: 1.5;
}

.table td {
  border-bottom: 1px solid currentColor;
}

.overflowWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
