.wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
    background-size: cover;
    background-position: 50% 50%;

    background-color: #ffc800;
    padding: 4.5rem 1.5rem;
    font-family: abril-display, serif;
    height: 100%;

    .heading {
        font-size: 1.5rem;
        line-height: 1.33333;
        font-style: italic;
    }
}

.heading {
    font-size: 1rem;
    font-weight: 700;
}

.box {
    height: 8rem;
    padding: 1.5rem;
    border: 1px solid var(--primary);
    transition: all 300ms;

    &:hover {
        color: var(--secondary);
        background: var(--primary);
    }
}
