:root {
  --navbar-height: 80px;
  --navbar-padding: 24px;
  --base-font-size: 16;
  --white: #fff;
  --black: #000;
  --red: #ff0000;
  --primary: var(--black);
  --secondary: var(--white);
  --background: var(--white);
  --error: var(--error);
}
