@import '../../../styles/mixins/responsive';

.block {
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: center;
    place-content: center;
    margin: 2rem auto;
    grid-column: 1 / span 6;
    width: 100%;

    @include tablet {
        grid-column: 1 / span 12;
    }

    @include from-tablet-landscape {
        grid-column: 1 / span 16;
    }
}
