@import "../../../styles/functions/rem";

.blockquote {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding-left: 4rem;
    position: relative;
    font-style: italic;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-25%,-15%);
        font-size: rem(80);
        line-height: 1;
        content: '”';
    }

    p + p {
        margin-top: 1rem;
    }
}
