@import '../../styles/mixins/responsive';

.wrapper {
    @include tablet {
        grid-column: 2 / span 8;
    }

    @include tablet-landscape {
        grid-column: 3 / span 10;
    }

    @include large-desktop {
        grid-column: 5 / span 8;
    }
}
