@import "../../styles/mixins/responsive";

.wrapper {
  grid-column: 1 / span 6;
  height: calc(100vh - 5rem);
  margin: 0 -0.5rem 2rem;

  @include tablet {
    grid-column: 1 / span 12;
    margin: 0 -1rem 3rem;
  }

  @include from-tablet-landscape {
    grid-column: 1 / span 16;
    margin: 0 -1.5rem 4rem;
  }
}
