h1.heading {
    font-size: 64px;
}
h2.heading {
    font-size: 48px;
}

h3.heading {
    font-size: 32px;
}

h4.heading {
    font-size: 24px;
}

h5.heading {
    font-size: 16px;
}

h6.heading {
    font-size: 8px;
}
