@import "../../styles/mixins/responsive";

.xl {
    font-size: 2.5rem;

    @include from-tablet {
        font-size: 3.75rem;
    }
}

.lg {
    font-size: 1.5rem;

    @include from-tablet {
        font-size: 2.5rem;
    }
}

.md {
    font-size: 48px;

    @include from-tablet {
        font-size: 2rem;
    }
}

.sm {
    font-size: 32px;

    @include from-tablet {
        font-size: 1.5rem;
    }
}

.xs {
    font-size: 24px;

    @include from-tablet {
        font-size: 1.125rem;
    }
}
