.newsList {
    display: flex;
    flex-direction: column;

    &__items {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &__item {
        display: inline-block;
        width: calc(33%);
        margin-right: 1%;

        &:last-child {
            margin-right: 0;
        }

        article {
            background-color: var(--background);
            padding: 2rem;
        }
    }
}