@import '../../../styles/mixins/responsive';

.newsList {
    display: flex;
    flex-direction: column;

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    &__item {
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;

        @include from-tablet {
            flex-basis: calc(50% - 1rem);
        }

        @include from-tablet-landscape {
            flex-basis: calc(33% - 1rem);
        }

        article {
            background-color: var(--background);
            padding: 1rem;

            @include from-tablet {
                padding: 2rem;
            }
        }
    }
}

.headline {
    margin-top: 0;

    @include from-tablet {
        margin-top: 2rem;
    }
}