@import "../../styles/functions/rem.scss";

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    padding: rem(24);
    background-color: #000;
    color: #fff;
}

.logo {
    height: 100%;

    img {
        height: 100%;

    }
}

.languageSelector {
    position: relative;
    font-size: 1.1rem;
    text-transform: uppercase;

    .opener {
        margin-left: 8px;
        width: 12px;
        height: 12px;
        border-bottom: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
    }

    .list {
        position: absolute;
        background-color: black;
        display: flex;
        flex-flow: column;
        justify-items: center;
        margin: 0;
        padding: 16px;
        border: solid 2px #ffffff;
        z-index: 1;

        li {
            list-style-type: none;
        }
    }
}
