$navbarHeight: 32px;
$navbarPadding: 24px;

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: $navbarHeight;
    padding: $navbarPadding;
    background-color: #000;
    color: #fff;
}

.logo {
    height: ($navbarHeight + $navbarPadding);

    img {
        width: ($navbarHeight + $navbarPadding);
        height: ($navbarHeight + $navbarPadding);
    }
}

.languageSelector {
    position: relative;

    .opener {
        width: 30px;
        height: 30px;
        border-bottom: 6px gray;
        border-right: 6px gray;
        transform: rotate(4deg);
    }

    .list {
        position: absolute;

        li {
            list-style-type: none;
        }
    }
}
