.wrapper {
    position: fixed;
    z-index: 999999;
    bottom: 1rem;
    left: 50%;
    height: 3rem;
    background-color: lightgrey;
    border-radius: 1rem;
    display: flex;
    cursor: default !important;
    transform: translate3d(-50%, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;

    * {
        cursor: default !important;
    }

    a,
    a * {
        cursor: pointer !important;
    }
}

.group {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-left: solid 1px #eee;
    max-height: 3rem;
}

.group:first-child {
    border-left: none;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    color: #000;
    margin: 0.5rem;

    svg {
        color: #f60;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

.edit {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    background: #fff;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }
}

.status {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    margin: 0.2rem 0.5rem 0.2rem 0;

    &.draft {
        background: #888888;
    }

    &.published {
        background: radial-gradient(#00cc00, #00ff00);
        border: solid 1px #00dd00;
    }

    &.updated {
        background: #ffdd00;
    }
}

.exit {
    display: flex;
    align-items: center;
    height: 100%;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }
}