.blockquote {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    padding-left: 65px;
    font-family: 'din-serif';
    color: #000000;
    position: relative;
    line-height: 1.5 !important;
    font-style: italic;

    &:before {
        width: 0;
        height: 0;
        position: absolute;
        left: -12px;
        top: 6px;
        font-size: 80px;
        content: '”';
        line-height: 1;
    }

    p {
        line-height: 1.5;
        margin-bottom: 0;
    }

    p + p {
        margin-top: 16px;
    }
}
