@import "../../styles/functions/rem.scss";

.blockquote {
    display: flex;
    flex-direction: row;
    padding-left: 65px;
    position: relative;
    font-style: italic;

    &:before {
        width: 0;
        height: 0;
        position: absolute;
        left: -12px;
        top: 6px;
        font-size: rem(80);
        content: '”';
        line-height: 1;
    }

    p + p {
        margin-top: 16px;
    }
}
