@import "src/styles/responsive";

.wrapper {
  grid-column: 1 / span 6;

  img {
    max-width: 100%;
  }

  @include mobile-landscape {
    grid-column: 2 / span 4;
  }
  @include tablet {
    grid-column: 3 / span 8;
  }

  @include tablet-landscape {
    grid-column: 4 / span 10;
  }

  @include desktop {
    grid-column: 5 / span 8;
  }

  @include large-desktop {
    grid-column: 5 / span 6;
  }
}
