@import '../../styles/mixins/responsive';

.wrapper {
    display: flex;
    justify-content: flex-start;

    @include desktop {
        grid-column: 3 / span 12;
    }

    @include large-desktop {
        grid-column: 3 / span 12;
    }
}

.imageWrapper {
    width: 100%;
    height: 20rem;
}