.inner {
  display: inline-flex;
  width: 100%;
  position: relative;
  color: inherit;
}

.wrapper {
  display: inline-block;
  align-self: flex-start;
  color: #000;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
